<footer>
    <p class="footertext">&copy;2024 Bike Bazaar. All rights reserved.</p>
    <div class="socialmedialogos">
        <span class="spansociallogo"><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></span>
        <span class="spansociallogo"><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></span>
        <span class="spansociallogo"><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></span>
        <span class="spansociallogo"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
      </div>
</footer>

</body>
</html>