<%- include('./partials/header.ejs')%>
<link rel="stylesheet" href="css/style.css">
<title>Home</title>
<%- include('./partials/nav.ejs')%>

    <main class="home">
        <%- include('./partials/flash.ejs')%>


        <div class="filldiv">
            <h1 class="filldivH1">BikeBazaar</h1>   
            <p class="filldivp"> A Marketplace for Bicycle lovers, where you can browse tons of great bikes and accessories to find something you like or sell something of your own easily</p>
        </div>

        <div class="tim">       
            <img src="images/tim-foster-M-YXsRRml_w-unsplash.jpg" alt="" >
        </div>

        <div class="nathanael">
            <img src="images/nathanael-desmeules-Nvvmuwm5hUw-unsplash.jpg" alt="" >
        </div>
    </main>
    <%- include('./partials/footer.ejs')%>